@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 160px;
}

.header-block {
  max-width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 250px;
}
.logo .logo-item {
  width: 100%;
  border-radius: 30px;
}

.header-mobile {
  display: none;
  cursor: pointer;
}

.menu-item {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 90px;
  text-decoration: none;
}
.menu-item .menu-item-list {
  position: relative;
  transition: all 0.4s;
}
.menu-item .menu-item-list:hover .sub-menu-item {
  display: block;
}
.menu-item .menu-item-list .menu-item-block {
  display: flex;
  align-items: center;
}
.menu-item .menu-item-list .menu-item-block:hover .menu-item-link, .menu-item .menu-item-list .menu-item-block:hover .menu-item-chevron {
  color: rgb(203, 17, 26);
}
.menu-item .menu-item-list .menu-item-block .menu-item-chevron {
  color: #000000;
  font-size: 14px;
  margin-left: 7px;
  transition: all 0.4s;
}
.menu-item .menu-item-list .menu-item-link {
  text-decoration: none;
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  transition: all 0.4s;
}
.menu-item .menu-item-list .menu-item-link:hover {
  color: rgb(203, 17, 26);
}

.sub-menu-item {
  min-width: 170px;
  display: none;
  padding-top: 10px;
  border-radius: 10px;
  position: absolute;
  left: -15px;
  z-index: 3;
}
.sub-menu-item .sub-menu-item-list {
  width: 100%;
  background-color: #ffffff;
  padding: 7px;
}
.sub-menu-item .sub-menu-item-list:hover .sub-menu-item-link {
  color: rgb(203, 17, 26);
}
.sub-menu-item .sub-menu-item-list .sub-menu-item-link {
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 700;
  padding-left: 5px;
  transition: all 0.4s;
}

.phone-item .phone-item-list {
  padding-bottom: 7px;
  font-size: 16px;
  line-height: 20px;
}
.phone-item .phone-item-list::before {
  content: "📞";
}
.phone-item .phone-item-list .phone-item-link {
  text-decoration: none;
  color: #000000;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 60%;
  z-index: 7;
  background-color: rgb(203, 17, 26);
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s;
}
.mobile-nav.mobile-nav-active {
  visibility: visible;
  opacity: 1;
  right: 0;
}
.mobile-nav .mobile-nav-close {
  position: absolute;
  top: 18px;
  right: 18px;
}
.mobile-nav .mobile-nav-close .mobile-nav-xmark {
  font-size: 24px;
}
.mobile-nav .mobile-nav-close .mobile-nav-xmark:hover {
  color: #5a4b4b;
}

.mobile-menu-item {
  padding: 30px 10px 10px 10px;
  color: #ffffff;
}
.mobile-menu-item .mobile-menu-item-list {
  padding: 10px;
}
.mobile-menu-item .mobile-menu-item-list .mobile-menu-item-link {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  transition: all 0.4s;
  padding: 5px;
}
.mobile-menu-item .mobile-menu-item-list .mobile-menu-item-link:hover {
  color: #5a4b4b;
}

.mobile-menu-item-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu-item-block .mobile-menu-item-chevron {
  font-size: 14px;
  margin-left: 7px;
  transition: all 0.4s;
}
.mobile-menu-item-block .mobile-menu-item-chevron:hover {
  color: #5a4b4b;
}

.mobile-sub-menu-item {
  display: none;
  border-radius: 10px;
}
.mobile-sub-menu-item .mobile-sub-menu-item-list {
  width: 100%;
  padding: 7px;
}
.mobile-sub-menu-item .mobile-sub-menu-item-list .mobile-sub-menu-item-link {
  text-decoration: none;
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 700;
  padding-left: 15px;
  transition: all 0.4s;
}
.mobile-sub-menu-item .mobile-sub-menu-item-list .mobile-sub-menu-item-link:hover {
  color: #5a4b4b;
}

.main-button {
  width: 250px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  background-color: #b82b2b;
  border-radius: 5px;
  border: none;
  position: relative;
  top: 0;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}
.main-button:hover {
  background-color: #881313;
  color: #ffffff;
}
.main-button:active {
  top: 3px;
}

.footer {
  background-color: #5a4b4b;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.company-contacts {
  display: grid;
  grid-row-gap: 10px;
}
.company-contacts .company-contacts-item .company-contacts-link {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}
.company-contacts .company-address:before {
  content: "✉";
  width: 10px;
  height: 10px;
  margin-right: 10px;
  display: inline-block;
}
.company-contacts .company-phone:before {
  content: "📞";
  width: 10px;
  height: 10px;
  color: #000000;
  display: inline-block;
}

.footer-copyright .footer-copyright-item {
  font-size: 14px;
  line-height: 16px;
}
.footer-copyright .footer-copyright-item:before {
  content: "©";
}

.form-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
.form-popup.active {
  opacity: 1;
  visibility: visible;
}
.form-popup .form-popup-body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form {
  width: 450px;
  margin: 0 auto;
  padding: 15px 20px 20px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
}
.form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url(../img/Loading.gif) center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
}
.form._sending::after {
  opacity: 1;
  visibility: visible;
}
.form .form-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.form .form-head .form-title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
}
.form .form-head .form-xmark {
  font-size: 24px;
  cursor: pointer;
}
.form .form-error-message {
  height: 20px;
  width: 100%;
  color: red;
}
.form .form-item {
  margin-bottom: 30px;
}
.form .form-item .form-label {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  display: block;
}
.form .form-input {
  height: 50px;
  padding: 0 10px;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
  outline: none;
  border: 0.5px solid #5a4b4b;
  transition: all 0.5s ease 0s;
}
.form .form-input._error {
  box-shadow: 0 0 15px rgb(203, 17, 26);
}
.form .form-input:focus {
  box-shadow: 0 0 5px rgb(26, 215, 240);
}
.form .form-input.form-area {
  min-height: 150px;
  resize: vertical;
}
.form .form-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #b82b2b;
  border: none;
  transition: background-color 0.5s ease 0s;
  transition: color 0.2s ease 0s;
  position: relative;
  top: 0;
}
.form .form-button:hover {
  background-color: #881313;
  color: #ffffff;
}
.form .form-button:active {
  top: 3px;
  box-shadow: 0 2px 0 var(--main-color-dark);
}

@media screen and (max-width: 1640px) {
  .wrapper {
    padding: 0 120px;
  }
  .menu-item {
    grid-column-gap: 60px;
  }
}
@media screen and (max-width: 1460px) {
  .wrapper {
    padding: 0 40px;
  }
  .logo {
    max-width: 200px;
  }
  .header-nav {
    flex: 0.9;
  }
  .menu-item {
    display: flex;
    justify-content: space-around;
  }
  .menu-item .menu-item-list .menu-item-link {
    font-size: 18px;
    line-height: 22px;
  }
  .phone-item .phone-item-list {
    font-size: 14px;
    line-height: 16px;
  }
}
.company-contacts .company-contacts-item .company-contacts-link {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

@media screen and (max-width: 1140px) {
  .wrapper {
    padding: 0 30px;
  }
  .header-nav {
    padding: 0 30px;
  }
  .header-block {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-row-gap: 15px;
  }
  .logo {
    max-width: 150px;
    grid-column: 1/2;
  }
  .header-nav {
    grid-row: 2/3;
    grid-column: 1/4;
    justify-content: center;
  }
  .phone {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .menu-item .menu-item-list {
    justify-self: center;
  }
  .menu-item .menu-item-list .menu-item-link {
    font-size: 16px;
    line-height: 18px;
  }
  .footer-block {
    display: grid;
    grid-template-columns: 1fr 250px;
  }
  .footer-block .footer-block-address {
    grid-row: 1/3;
  }
  .footer-block .logo.logo-footer {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
  }
  .footer-block .footer-copyright {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .footer-block .footer-copyright .footer-copyright-item {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
}
@media screen and (max-width: 680px) {
  .wrapper {
    padding: 0 15px;
  }
  .header-block {
    grid-template-columns: 1fr 40px;
  }
  .header-mobile {
    display: block;
  }
  .header-mobile .header-burger {
    font-size: 32px;
  }
  .header-nav,
  .phone {
    display: none;
  }
  .footer-block {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    text-align: center;
  }
  .footer-block .footer-block-address {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .footer-block .logo.logo-footer {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .footer-block .footer-copyright {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}
@media screen and (max-width: 580px) {
  .main-button {
    width: 150px;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
  }
}
@media screen and (max-width: 450px) {
  .form {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
