$main-text-color: #000000;
$main-white: #ffffff;
$main-red-color: rgb(203, 17, 26);
$main-yellow-color: rgb(235, 197, 0);
$main-grey-color: #5a4b4b;
$main-blue-color: rgb(26, 215, 240);


$main-red-color-mob: rgb(203, 17, 26, 0.9);
